@use '../../assets/styling/colors';

.landing-wrapper {
    color: colors.$font-color-lg;

    .landing-header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        .landing-top {
            .landing-logo {
                font-weight: 700;
                margin-bottom: 3rem;
            }
        }

        .landing-bot {
            margin-top: 7rem;
        }
    }
}

.btn-start {
    background-color: colors.$btn1-color;
    color: #ffffff;
    padding: 2rem 5rem;
    text-decoration: none;

    &:hover {
        background-color: colors.$btn1-hover-color;
    }
}
