$bg-color1: #fff4e6; // for background
$bg-color2: #e4f2e4; // for background
$bg-color3: #ffd4c0; // for background

$btn1-color: #001229; // for style1 button
$btn1-hover-color: #0a2c48; // for style1 button's hover
$btn2-color: #e4f2e4; // for style2 button
$btn2-border-color: #2c4023; // for style2 button's border

$font-color-sm: #343434; // for smaller fonts
$font-color-lg: #717244; // for large fonts

$color1: #ad8034; // for shapes
$color2: #fddf01; // for shapes
$color3: #f36e5a; // for shapes
$color4: #2c4023; // for footer
$color5: #001229;

$selected: #fddf01;
$correct: #5af38c;
$incorrect: #f36e5a;
